body {
background-color: #eeeeee;
margin: 0;
padding: 0;
}

.main{
height: calc(100vh - 80px);
display: grid;
grid-template-columns: auto 1fr;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.formulare {
    display: flex;
}

.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    width: 100%;
    height: 80px;
    color: white;
}

.topbar h1{
    font-size: 30px;

}

.sidebar {
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: #888888;
  height: 100%;
  display: block;

}

/* Links on mouse-over */
.sidebar a:hover {
  background-color: #555;
  color: white;
}

/* Page content */
.content {
    padding: 20px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:center;
}

.download-link {
    background-color:blue;
    border:0;
    color:white;
    padding:10px;
    text-decoration: none;
}

/* PDF container */
.pdf-viewer {
  width: 100%;
  height: 600px;
}

#pdf-viewer-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #aaaaaa;
}

.container {
    margin-top: 20px;
}

.algorithm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.remove-button-box {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}



.problemtype {
  --background: #ffffff;
  --text: #414856;
  --radio: #7C96B2;
  --radio-checked: #4F29F0;
  --radio-size: 20px;
  --width: 100px;
  --height: 140px;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  color: var(--text);
  position: relative;
  box-shadow: 0 10px 30px rgba(#414856, 0.05);
  padding: 30px 45px;
  display: grid;
  grid-template-columns: auto var(--radio-size);
  align-items: center;
  label {
    cursor: pointer;
  }
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: var(--radio-size);
    width: var(--radio-size);
    outline: none;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--radio);
    background: transparent;
    border-radius: 50%;
    display: grid;
    justify-self: end;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: border .5s ease;
    &::before,
    &::after {
      content: "";
      display: flex;
      justify-self: center;
      border-radius: 50%;
    }
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--background);
      z-index: 1;
      opacity: var(--opacity, 1);
    }
    &::after {
      position: relative;
      width: calc(100% /2);
      height: calc(100% /2);
      background: var(--radio-checked);
      top: var(--y, 100%);
      transition: top .5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
    }
    &:checked {
      --radio: var(--radio-checked);
      &::after {
        --y: 0%;
        animation: stretch-animate .3s ease-out .17s;
      }
      &::before {
        --opacity: 0;
      }
      ~ input[type="radio"] {
        &::after {
          --y: -100%;
        }
      }
    }
    &:not(:checked) {
      &::before {
        --opacity: 1;
        transition: opacity 0s linear .5s;
      }
    }
  }
}

@keyframes stretch-animate {
  0% {
    transform: scale(1,1)
  }
  28% {
    transform: scale(1.15,.85)
  }
  50% {
    transform: scale(.9,1.1)
  }
  100% {
    transform: scale(1,1)
  }
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.options-text-box {
    display: flex;
    align-items: center;
    height: 40px;
}

.config-sidebar {
    background-color: aquamarine;
    width: 400px;

}

.rect-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    gap: 20px;
}

.rect-input {
    display: none;
}

.rect-label {
    width: 130px;
    height: 40px;
    background-color: #ccc;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
}


.rect-input:checked+.rect-label {
    background-color: #4CAF50;
    color: white;
}


.rect-label:hover {
    background-color: #bbb;
}

.upperlabel {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.underlabel {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.collapsible-menu {
    width: 90%;
    margin-left: 8px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: sans-serif;
}

.collapsible-menu summary {
    cursor: pointer;
    padding: 12px 16px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    user-select: none;
}

.collapsible-menu[open] summary {
    border-bottom: 1px solid transparent;
}

.collapsible-content {
    padding: 16px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.partition-radio {
    display: none;
}

.partition-label {
    margin: 5px;
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}

.partition-radio:checked+.partition-label {
    background-color: #4CAF50;
    color: white;
}

.generate-form {
    margin-bottom: 20px;
}